<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
	<!-- 引入属性配置文件 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/redis.properties</value>
				<value>classpath:config/jdbc.properties</value>
				<!--<value>classpath:config/platform.properties</value>
				<value>classpath:zfbinfo.properties</value>-->
				<value>classpath:config/workId.properties</value>
			</list>
		</property>
		<property name="properties">
			<props>
				<!-- Web端常用数据缓存时间(秒) -->
				<prop key="redis.expiration">7200</prop>
			</props>
		</property>
	</bean>
	<!-- 扫描注解 -->
	<context:component-scan base-package="cn.com.realer">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation" expression="org.springframework.cache.annotation.EnableCaching" />
	</context:component-scan>
	<task:annotation-driven scheduler="qbScheduler" mode="proxy"/>
	<task:scheduler id="qbScheduler" pool-size="10"/>
	<!-- 引入SPRING配置文件 -->
	<import resource="spring/redis.xml"/>
	<import resource="spring/dataSource.xml"/>
	<import resource="spring/mybatis.xml"/>
	<!--<import resource="spring/platform.xml"/>-->
	<import resource="spring/*.xml"/>
</beans>